<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    
    <link rel="stylesheet" href="detail.css">
    <link rel="stylesheet" href="template.css">
    <script src="https://kit.fontawesome.com/6ab1913385.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <p><a href="carpedia.html" class="logo" style="font-weight: bold;">CARPEDIA.com</a></p>
        <ul>
            <li><a href="http://127.0.0.1:3000/">predict image</a></li>
            <li><a href="../aboutus/aboutus1.html">about us</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="title"><p>- CAR DETAIL -</p></div>
        <div class="detail">
            <div class="box">
                <div class="image">
                    <img src="" alt="">
                </div>
                <div class="content">
                    <h1 class="name"></h1>
                    <div class="price"></div> 
                    <h4>Body, Model and Producton details</h4>
                    <div class="body"></div>
                    <div class="year"></div>
                    <div class="model"></div>
                    <div class="make"></div>
                    <div class="door"></div>
                    <h4>Engine Technical Data</h4>
                    <div class="fueltype"></div>
                    <div class="enginetype"></div>
                    <div class="enginedisplacement"></div>
                    <div class="horsepower"></div>
                    <div class="numberofspeed"></div>
                    <div class="tank"></div>
                    <h4>Size, Dimensions and Weight</h4>
                    <div class="wheelbase"></div>
                    <div class="length"></div>
                    <div class="width"></div>
                    <div class="weight"></div>
                    <h4>Performance</h4>
                    <div class="topspeed"></div>
                </div>
            </div>
            <div class="article">
                <h2>Customer Review</h2>
                <div class="review"></div>
            </div>
        </div>
    </div>

    <div class = "container2">
        <a class="button-89" style="font-size: xx-large;" role="button" >Compare</a>
        </div>

    <div class="bottom">
        <div class="contact">
            <ul>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="far fa-envelope"></i></a>
                </li>
                <li>
                    <p>&#169; CARPEDIA.com</p>
                </li>
            </ul>
        </div>
    </div>
    <script src="detail.js"></script>
</body>
</html>


