<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="aboutus.css">
    <link rel="stylesheet" href="template.css">
    <script src="https://kit.fontawesome.com/7f2c9fc7c5.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Nav bar -->
    <div class="navbar">
        <p><a href="../collection/carpedia.html" class="logo" style="font-weight: bold;">CARPEDIA.com</a></p>
        <ul>
            <li><a href="http://127.0.0.1:3000/">predict image</a></li>
            <li><a href="../aboutus/aboutus1.html">about us</a></li>
        </ul>
    </div>
    <!-- Our Team Section -->
    <section class="team-section">
        <div class="team-title">
            <h1>Our Team</h1>
        </div>
        <div class="team-cards">
            <div class="team-card">
                <div class="team-image">
                    <img src="kuen.jpg" alt="">
                </div>
                <div class="team-detail">
                    <h3>Kajornpong Kaento</h3>
                    <h3>66070501006</h3>
                    <p>Front-end Developer</p>
                </div>
            </div>
            <div class="team-card">
                <div class="team-image">
                    <img src="iq2.jpg" alt="">
                </div>
                <div class="team-detail">
                    <h3>Chayuthpong Karnkonsue</h3>
                    <h3>66070501011</h3>
                    <p>Data manager & Back-end Developer</p>
                </div>
            </div>
            <div class="team-card">
                <div class="team-image">
                    <img src="p.jpg" alt="">
                </div>
                <div class="team-detail">
                    <h3>Nitis Jadipang</h3>
                    <h3>66070501020</h3>
                    <p>Data manager & Back-end Developer</p>
                </div>
            </div>
            <div class="team-card">
                <div class="team-image">
                    <img src="phai.jpg" alt="">
                </div>
                <div class="team-detail">
                    <h3>Thatthep Thongrung</h3>
                    <h3>66070501084</h3>
                    <p>Front-end Developer</p>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us section -->
    <section class="about-us">
        <div class="title">
            <h1>About Us</h1>
        </div>
        <div class="detail">
            <p>We are a team of dedicated computer programming students who are passionate about cars and technology. Our goal is to provide users with comprehensive and accurate information about various car models. We strive to maintain a platform that is user-friendly and informative, enabling car enthusiasts and potential buyers to make informed decisions. Our team members are committed to continuous learning and improvement, always staying up-to-date with the latest developments in the automotive industry.</p>
        </div>
    </section>
    <!-- Bottom -->
    <div class="bottom">
        <div class="contact">
            <ul>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="far fa-envelope"></i></a>
                </li>
                <li>
                    <p>&#169; CARPEDIA.com</p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>