<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Split & Reveal Text</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="page.css">
    <!-- <link rel="stylesheet" href="test.css" -->
  </head>
  <body>
    <div class="slider">
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
    </div>
    <div class="container">
      <!--<a href="http://127.0.0.1:3000/"><span>CLICK!</span> to explore the automotive world</a>-->
      <a href="sup-pages\collection\carpedia.html"><span>CLICK!</span> to explore the automotive world</a>
      <h1>CARPEDIA.COM</h1>
      <h1>CARPEDIA.COM</h1>
    </div>
  </body>
</html>